body{
    text-align: center;
    background-image: url('https://media.istockphoto.com/id/1439372206/photo/selective-focus-top-of-wood-table-with-window-glass-and-cityscape-background.webp?b=1&s=170667a&w=0&k=20&c=qq-sQvpZq7VHz23brp93CbjrIMJ6oASXjFrSPvi8NJE=');
    background-repeat: no-repeat;
    background-size: cover;
}