body {
    background-image: url(https://png.pngtree.com/png-vector/20220718/ourmid/pngtree-quarantine-office-people-employee-manager-png-image_5913171.png);
    text-align: center;
    color: brown;
    background-repeat: none;
    background-size: cover;
}